body {
  background-color: pink;
}

main {
  width: 85%;
  background-color: white;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
}


input {
  width: 50px;
  height: 30px;
  margin: 20px 10px 20px 20px;
  font-size: 22px;

}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

#all_p {
  width: 100px;
}

.first-price {
  font-size: 14px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 25px;
  color: orange;
}

button {
  display: block;
  width: 200px;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid red;
  font-size: 30px;
  color: #f36;
  margin: 0 auto;
}
.all_p {
  margin-top: 30px;
}
.all_p input {
  height: 40px;
  color: #f36;
  font-size: 30px;
}
.champagne_p {
  width: 100px;
}
span {
  font-size: 16px;
  color: red;
  margin-left: 15px;
}